<h1>Componente de Coches</h1>

<style>
    div{
        float: left;
    }

    form{
        width: 200px;
    }

    input[type="text"],span{
        display: block;
        width: 100%;
    }

    .listado{
        margin-left: 30px;
    }
    
</style>

<div>
    <h4>Formulario</h4>
    <form #formCoche="ngForm" (ngSubmit)="OnSubmit(); formCoche.reset();">
    <p>
        <label>Nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" 
        [(ngModel)]="coche.nombre" required/>
        <span *ngIf="nombre.touched && !nombre.valid">No valido !!!</span>
    </p>
    <p>
        <label>Caballaje</label>
        <input type="text" name="caballaje" #caballaje="ngModel" 
        [(ngModel)]="coche.caballaje" required pattern="[0-9]+"/>
        <span *ngIf="caballaje.touched && !caballaje.valid">No valido !!!</span>
    </p>
    <p>
        <label>Color</label>
        <input type="text" name="color" #color="ngModel" 
        [(ngModel)]="coche.color" required pattern="[a-zA-Z#]+"/>
        <span *ngIf="color.touched && !color.valid">No valido !!!</span>
    </p>

    <input type="submit" value="Guardar" [disabled]="!formCoche.form.valid"/>
    </form>
</div>

<div class="listado" >
    <h4>Listado de Coches</h4>
    <ul>
        <li *ngFor="let coche of coches">
            {{coche.nombre}} - {{coche.caballaje}} - {{coche.color}}
        </li>

    </ul>
</div>

<div class="listado" >
    <h4>Listado de Articulos</h4>
    <ul *ngIf="articulos">
        <li *ngFor="let articulo of articulos">
            {{articulo.id}} - {{articulo.title}} - {{articulo.body}}
        </li>
    </ul>
    <span *ngIf="!articulos">Cargando Listado Articulos...</span>
</div>